<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numberTeams</key>
	<integer>2</integer>
	<key>teamNames</key>
	<array>
		<string>Команда 1</string>
		<string>Команда 2</string>
	</array>
	<key>Categories</key>
	<array>
		<string>simpleWords</string>
		<string>popularPersons</string>
		<string>popStage</string>
		<string>actors</string>
		<string>writers</string>
		<string>animals</string>
	</array>
	<key>roundDuration</key>
	<integer>30</integer>
	<key>wordsPerRound</key>
	<integer>30</integer>
</dict>
</plist>
